[Unit]
Description=Prepare the Proto USER bootstrap key
DefaultDependencies=no
ConditionKernelCommandLine=!proto.installer=yes
ConditionPathExists=/etc/initrd-release
Requires=initrd-usr-fs.target
After=initrd-usr-fs.target
Before=systemd-repart.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/proto-user-provision prepare
