[Unit]
Description=Mount the current deployment's /etc snapshot
DefaultDependencies=no
ConditionKernelCommandLine=!proto.installer=yes
Requires=proto-etc-prepare.service
After=proto-etc-prepare.service
Before=initrd-parse-etc.service initrd-fs.target initrd-switch-root.target

[Mount]
What=/sysroot/.system/@etc-current
Where=/sysroot/etc
Type=none
Options=bind
