[Unit]
Description=Ensure EROFS is mounted at /usr
Before=sysinit.target
After=usr-erofs.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true

[Install]
WantedBy=sysinit.target
