[Unit]
Description=Mount EROFS Root Image as /usr
Before=local-fs.target
After=systemd-udevd.service

[Mount]
What=/system/root.erofs
Where=/usr
Type=erofs
Options=ro,loop

[Install]
RequiredBy=local-fs.target
