[Desktop Entry]
Type=Application
Name=Install proto
Comment=Install proto on this computer
Exec=/usr/bin/tik
Icon=drive-harddisk-system
Terminal=false
Categories=System;
StartupNotify=true
