[Unit]
Description=Create the proto live installer account
DefaultDependencies=no
ConditionKernelCommandLine=systemd.volatile=yes
Requires=systemd-sysext-sysroot.service
After=proto-installer-prepare-root.service systemd-sysext-sysroot.service
Before=systemd-confext-sysroot.service initrd-root-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemd-sysusers --root=/sysroot
